---
layout: default
title: Home
---

<div class="home">
  <h1 class="page-heading">Recent Posts</h1>
  
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <p class="post-excerpt">{{ post.excerpt | truncatewords: 50 }}</p>
        {% if post.tags.size > 0 %}
          <div class="post-tags">
            {% for tag in post.tags %}
              <span class="tag">{{ tag }}</span>
            {% endfor %}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">Previous</a>
      {% endif %}
      
      <span class="page-numbers">
        Page {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next</a>
      {% endif %}
    </div>
  {% endif %}
</div>